# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# =========================
# Logs
# =========================
*.log

# =========================
# Test / coverage
# =========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =========================
# Environment files
# =========================
.env
.env.*
*.env

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Great Expectations
# =========================
gx/uncommitted/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
